@inherits LayoutComponentBase

<RadzenNotification />
<RadzenDialog />

<PageTitle>My Lotto Rewards</PageTitle>

<div class="page">
	<AuthorizeView>
		<Authorized>
			<div class="sidebar">
				<NavMenu />
			</div>
		</Authorized>
	</AuthorizeView>

	<main>
		<div class="top-row px-4">
			<MyLotoRewards.Componentes.LoginBar></MyLotoRewards.Componentes.LoginBar>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>